/* VARIABELS */
:root {
    --dark-cyan: #0e8784;
    --dark-grey-blue: #333d4b;
    --pale-orange: #fdd6ba;
    --light-cream-bg: #fefcf7;
    --gray: #83888f;
    --preferance-bg: #f4f1eb;
    --button-hover: #66d2cf;
    --button-disabeled: #e2dedb;
    --footer-bg:#2C343E;

    /* fonts */
    --title-font-family: "Fraunces", sans-serif;
    --main-font-family: "Barlow", sans-serif;
}





/* barlow-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/barlow-v12-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* barlow-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/barlow-v12-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fraunces-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/fraunces-v31-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
#active {
    text-decoration: underline;
}

a {
    text-decoration: none;
}
ul,ol {
    list-style: none;
}
h1,
h2,
h3,
h4 {
    font-family: var(--title-font-family);
    font-weight: 900;
}

h1 {
    font-size: 72px;
    line-height: 72px;
}

h2 {
    font-size: 40px;
    line-height: 48px;
}

h3 {
    font-size: 32px;
    line-height: 36px;
}

h4 {
    font-size: 24px;
    line-height: 32px;
}
h1 {
    margin: 0;
}
img {
    display: flex;
    object-fit: cover;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Barlow';
}
main {
    flex-grow: 1;
}
.container {
    width: 100%;
    max-width: 1340px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}
.header {
    padding: 43px 0;
}
/* header start */
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.site-logo {
    transition: 0.3s;
}
.site-logo:hover {
    opacity: 0.8;
}



.sitenav_list {
    display: flex;
    gap: 33px;
}

.sitenav_item {}

.sitenav_link {
    color: var(--gray);
    font-size: 12px;
        font-weight: 700;
        line-height: 15px;
        letter-spacing: 0.923px;
        text-transform: uppercase;
        transition: 0.4s;
}
.sitenav_link:hover {
    color: var(--dark-grey-blue);
}
/* header end */

/* footer */
.footer-container {
   background-color: var(--footer-bg);
   margin-bottom: 88px;
   display: flex;
   align-items: center;
   padding: 47px 85px;
}



.footer-logo {
    margin-right: 102px;
    transition: 0.5s;
}
.footer-logo:hover {
    opacity: 0.6;
}




.footer-sitenav {
    margin-right: auto;
}
.footer-sitenav .sitenav_link:hover {
    color: #ffff;
}


.footer_socials-list {
    display: flex;
    gap: 26px;
    align-items: center;
    justify-content: center;
}

.footer_socials-link svg path {
    transition: 0.3s;
}

.footer_socials-link svg path:hover  {
    fill:var(--pale-orange)
}